@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Shantell sans', sans-serif;
    margin: 0;
    padding: 0 25px;
    background-color: #fffcf9;
    color: #1E201E;

}
.dark-mode{
    background-color: #1E201E;
    color: #eae8e6;
}