@tailwind base;
@tailwind components;
@tailwind utilities;

/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Shantell+Sans:ital,wght@0,300..800;1,300..800&display=swap');

html {
    overflow: hidden;
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0 25px;
    background-color: #FEFAF6;
    color: #1E201E;
    position: fixed;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}
.dark-mode{
    background-color: #1E201E;
    color: #eae8e6;
}